.container_main{
    display:flex;
    height:500px;
    width:100%;
    align-items:center;
    justify-content:space-evenly
}
.container_image{
    width:35%;
    position:relative;
    left:2.5rem;
}
.container_image1 img{
    height:auto;
    width:100%;
}
.container_image2 img{
    width:70%;
    margin-left:150px;
}
