.container_main{
    display:flex;
    height:500px;
    width:100%;
    align-items:center;
    justify-content:space-evenly
}
.container_image{
    width:35%;
    position:relative;
    left:2.5rem;
}
.container_image1 img{
    height:auto;
    width:100%;
}
.container_image2 img{
    margin-left:150px;
    width:70%;
}
.err{
    color: red;
    margin-top: 10px;
    font-size: 12px;
    width: 50%; 
}
.drop{
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items: center;
}
input{
    width:100%;
    height:2rem;
    border:1px solid black;
    margin-top:0.5rem;
}
.submit{
    background-color: black;
    color: white;
}

@media screen and(max-width:990px){
    .container_main{
        margin-top:100px;
        height:fit-content;
        display:flex;
        flex-direction: column;
    }
    .sub_Container{
        margin-right: 10%;
    }
    .container_image1 img{
        height:100%;
        width:100%;
        
    }
    .container_image2 img{
        width:32%;
        position: relative;
        left: 12rem;
        margin-right: 5%;
    }
    h1{
        text-align: center;
    }
}
